:root {
    --teal: #00b3b3;
    --silver: #c0c0c0;
    --edgePadding: 25px;
    --hfHeight: 125px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    display: block;
    margin: 0px;
    width: 100%;
}

header {
    align-items: center;
    background-color: var(--teal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    height: var(--hfHeight);
    width: 100%;
}

header h1 {
    font-size: 36px;
    padding-left: var(--edgePadding);
}

header nav {
    padding-right: var(--edgePadding);
}

header li {
    display: inline;
    font-size: 18px;
    padding-right: 15px;
}

main {
    background-color: var(--silver);
    display: block;
    margin-top: 20px;
    width: 100%;
}

.content {
    display: block;
}

.about, .portfolio, .contact {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: var(--edgePadding);
    padding-right: var(--edgePadding);
}

.about .aboutContent, .portfolio .portfolioContent, .contact .contactContent {
    align-self: end;
}

.aboutHeading, .portfolioHeading, .contactHeading {
    border-right: solid black 2px;
    font-size: 22px;
    width: 11%;
}

.aboutContent, .portfolioContent, .contactContent {
    font-size: 18px;
    width: 88%;
}

.personalPicture {
    padding-top: 5px;
    width: 25%;
}

.portfolio, .contact {
    border-top: solid black 3px;
}

#imgPreworkSG {
    width: 75%;
}

.projects {
    border-top: solid black;
}

.screenShot {
    width: 25%;
}

.projects:hover #imgHoriseon, .projects:hover #imgPasswordGen, .projects:hover #imgCodeQuiz, .projects:hover #imgColorGrid {
    width: 75%;
}

footer {
    align-items: center;
    background-color: var(--teal);
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    height: var(--hfHeight);
    margin-top: 20px;
    width: 100%;
}

footer p {
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    header li {
        font-size: 18px;
    }

    .about, .portfolio, .contact {
        display: flex;
        flex-direction: column;
        padding-left: var(--edgePadding);
        padding-right: var(--edgePadding);
    }

    .about .aboutContent, .portfolio .portfolioContent, .contact .contactContent {
        align-self: end;
    }
    
    .aboutHeading, .portfolioHeading, .contactHeading {
        border-bottom: solid black 2px;
        border-bottom-width: 99%;
        font-size: 22px;
        width: 100%;
    }
    
    .aboutContent, .portfolioContent, .contactContent {
        font-size: 18px;
        width: 100%;
    }

    .personalPicture, .screenShot {
        width: 50%;
    }
    
    #imgPreworkSG {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    header {
        align-items: center;
        background-color: var(--teal);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: var(--hfHeight);
        justify-content: center;
        width: 100%;
    }
    
    header h1 {
        font-size: 36px;
        padding-left: var(--edgePadding);
        padding-right: var(--edgePadding);
    }
    
    header nav {
        align-self: center;
        padding-left: var(--edgePadding);
        padding-right: var(--edgePadding);
    }
    
    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .personalPicture, .screenShot {
        width: 50%;
    }
    
    #imgPreworkSG {
        width: 95%;
    }

    .projects:hover #imgHoriseon, .projects:hover #imgPasswordGen, .projects:hover #imgCodeQuiz, .projects:hover #imgColorGrid {
        width: 50%;
    }
}